%span.total_price
	= number_to_currency(r["total_price"])
%br.clear
%a.btn.btn-success.buy_now{"href" => quote.app == nil ? new_app_path(uid: r['underwriter'], tid: r['term'], qid: quote.token) : app_path(quote.app, uid: r['underwriter'], tid: r['term'], qid: quote.token)}
	= t('quote.results.button.buy_now')
%br.clear
%a.btn.btn-default.btn-link.btn-xs.coverage{"data-target" => "#result_#{r['underwriter']}_details", "data-toggle" => "modal"}
	= t("quote.results.button.details.#{r['underwriter_coverage_desc']}")
%div.modal{"id" => "result_#{r['underwriter']}_details", "role" => "dialog"}
	%div.modal-dialog.modal-lg
		%div.modal-content
			%div.modal-header
				%button.close{"data-dismiss" => "modal"}
					%span{"aria-hidden" => "true"} &times;
					%span.sr-only Close
				%h4
					= t('quote.results.headers.coverage_details')
			%div.modal-body
				%dl
					- r["coverage"].each do |coverage|
						- scope = "quote.results.coverage"
						- unless t("#{coverage}.header", scope: scope).start_with?("DELETE")
							%dt
								%dfn
									= t("#{coverage}.header", scope: scope)
							%dd
								= t("#{r['underwriter_name'].slug}.#{r['underwriter_coverage_desc'].slug}.#{coverage}.details", scope: scope, tnc_link: r["tnc_link"])
			%div.modal-footer
				%button.btn.btn-default{"data-dismiss" => "modal"} Close