%h1
	= t('quote.results.headers.quote_results')

- if @rates.errors == nil ## No errors.
	%div.quote_results
		- @rates.underwriters.each do |underwriter|
			%div{"class" => "col-lg-#{(12.00 * ((@rates.for_underwriter(underwriter).count / (@rates.terms.count * 1.00)) / (@rates.count / @rates.terms.count))).floor} col-md-#{(12.00 * ((@rates.for_underwriter(underwriter).count / (@rates.terms.count * 1.00)) / (@rates.count / @rates.terms.count))).floor} col-sm-12"}
				%h4.underwriter
					%img{"src" => @rates.select { |r| r["underwriter_name"] == underwriter }.first["underwriter_image"]}
					= underwriter
				- @rates.for_underwriter(underwriter).terms.each do |term|
					%h5.term
						= t("quote.results.labels.#{term}")
					%hr
					- @rates.for_underwriter(underwriter).for_term(term).each do |r|
						%div{"class" => "col-lg-#{(12 / @rates.for_underwriter(underwriter).for_term(term).count).floor} col-md-#{(12 / @rates.for_underwriter(underwriter).for_term(term).count).floor} col-sm-12"}
							= render('individual_result', r: r, quote: @quote)
					%br.clear
					%hr
	%br.clear

%div
	%h2
		= t('quote.form.header.edit_quote')
	= render "quote_form", :quote => @quote
