%h1
	= t('quote.results.headers.quote_results')

- if @rates.errors == nil ## No errors.
	%ul.terms.nav.nav-tabs{:role => "tablist", :class => "terms-max-#{@rates.terms.count}"}
		- @rates.terms.each do |term|
			%li{:class => "#{term == 'daily' ? 'active' : ''}"}
				%a{:href => "\##{term.downcase}",
					:role => "tab",
					"data-toggle" => "tab"}
					%div.term
						= t("quote.results.labels.#{term}")
					%div.lowest_price
						= "(#{t('quote.results.labels.from_rate', :price => number_to_currency(@rates.for_term(term).lowest_price['total_price']))})"
	%div.quote_results.mobile.tab-content
		- @rates.terms.each do |term|
			%div.col-xs-12.tab-pane{:id => "#{term.downcase}", :class => "#{term == 'daily' ? 'active' : ''}"}
				%h3 
					= t("quote.results.labels.#{term}")
				%hr
				- @rates.for_term(term).sort_by_price!.underwriters.each do |underwriter|
					%div.col-xs-12.col-sm-12
						%h4.underwriter
							%img{"src" => @rates.select { |r| r["underwriter_name"] == underwriter }.first["underwriter_image"]}
							= underwriter
						%br.clear
						- @rates.for_underwriter(underwriter).for_term(term).each do |r|
							%div.quote_result.col-xs-12
								= render('individual_result', r: r, quote: @quote)
%hr
%div
	%h2
		= t('quote.form.header.edit_quote')
	= render "quote_form", :quote => @quote
