- if @app.errors.any?
	%div#error_explanation
		%h2
			= t('global.headers.errors_occurred', count: @quote.errors.count)
		%ul
			- @app.errors.full_messages.each do |msg|
				%li.has_error
					= msg

= bootstrap_form_for(@app, layout: :horizontal, label_col: "col-sm-5", control_col: "col-sm-7", html: { "ng-controller" => "AppController" }) do |f|
	%input{"type" => "hidden", "name" => "step", "value" => @app.step}
	%h3
		= t('app.form.header.owner_info')
	= f.text_field :first_name
	= f.text_field :last_name
	= f.text_field :address
	= f.text_field :city
	= f.select :state, us_states
	= f.text_field :zip
	= f.text_field :phone
	= f.text_field :email
	= f.text_field :license_number
	= f.select :license_state, us_states
	%hr
	%div.col-sm-7.col-sm-offset-5
		= f.primary t('app.form.buttons.step_2')
		= f.button t('app.form.buttons.get_help'), :class => "btn btn-lrg"