- if @app.errors.any?
	%div#error_explanation
		%h2
			= t('global.headers.errors_occurred', count: @quote.errors.count)
		%ul
			- @app.errors.full_messages.each do |msg|
				%li.has_error
					= msg

= bootstrap_form_for(@app, layout: :horizontal, label_col: "col-sm-5", control_col: "col-sm-7", html: { "ng-controller" => "VehicleFormController" }) do |f|
	%h3
		= t('app.form.header.power_unit_info')
	%input{"type" => "hidden", "name" => "step", "value" => @app.step}
	= f.text_field :vin
	= f.text_field :license_plate
	= f.select :license_plate_state, us_states, {include_blank: t('general.forms.select_one')}
	= f.text_field :us_insurance_company
	= f.text_field :us_insurance_policy
	= f.date_select :us_insurance_expiration,
		start_year: Date.today.year,
		end_year: (Date.today + 5.year).year,
		default: @app.us_insurance_expiration || Date.today
	= f.select :ownership, options_for_select(@app.valid_ownerships.collect { |o| [t("activerecord.attributes.app.ownerships.#{o}"), o]}, @app.ownership),
		{include_blank: t('general.forms.select_one')},
		"ng-model" => "ownership",
		"ng-init" => "ownership = '#{@app.ownership}'"
	%div{"ng-show" => "financed_ownership()"}
		= f.text_field :finance_company
		= f.text_field :finance_account
		= f.text_field :finance_address
		= f.text_field :finance_city
		= f.select :finance_state, us_states, {include_blank: t('general.forms.select_one')}
		= f.text_field :finance_zip

	= f.fields_for :quote, @app.quote do |qf|
		= qf.hidden_field :id
		= qf.fields_for :toweds do |tf|
			%h3
				= t('app.form.header.towed_unit')
			= tf.hidden_field :id
			= tf.static_control :year
			= tf.static_control :type_label
			= tf.static_control :year
			= tf.text_field :make
			= tf.text_field :model
			= tf.text_field :vin
			= tf.text_field :license_plate
			= tf.select :license_plate_state, us_states, 
				{include_blank: t('general.forms.select_one')}
	%hr
	%div.row-fluid
		%div.col-sm-5
			%button.btn.btn-lrg.pull-right{"type" => "button",
				"data-toggle" => "modal",
				"data-target" => "#contact_modal"}
				= t('app.form.button.get_help')
		%div.col-sm-7
			= f.primary t('app.form.button.step_3')