- if @app.errors.any?
	%div#error_explanation
		%h2
			= t('global.headers.errors_occurred', count: @quote.errors.count)
		%ul
			- @app.errors.full_messages.each do |msg|
				%li.has_error
					= msg

= bootstrap_form_for(@app, layout: :horizontal, label_col: "col-sm-5", control_col: "col-sm-7") do |f|
	%h3
		= t('app.form.header.power_unit_info')
	%input{"type" => "hidden", "name" => "step", "value" => @app.step}
	= f.text_field :vin
	= f.text_field :registration
	= f.text_field :us_insurance_company
	= f.text_field :ownership
	= f.fields_for :quote, @app.quote do |qf|
		= qf.hidden_field :id
		= qf.fields_for :toweds do |tf|
			%h3
				= t('app.form.header.towed_unit')
			= tf.hidden_field :id
			= tf.static_control :year
			= tf.static_control :type_label
			= tf.static_control :year
			= tf.text_field :make
			= tf.text_field :model
			= tf.text_field :vin
			= tf.text_field :license_plate
			= tf.select :license_plate_state, us_states, 
				{include_blank: t('general.forms.select_one')}
	%hr
	%div.row-fluid
		%div.col-sm-5
			%button.btn.btn-lrg.pull-right{"type" => "button",
				"data-toggle" => "modal",
				"data-target" => "#contact_modal"}
				= t('app.form.button.get_help')
		%div.col-sm-7
			= f.primary t('app.form.button.step_3')