%h1
	= t('app.headers.recap')
%div.row-fluid.recap
	%div.col-md-6
		%div.panel.panel-default
			%div.panel-heading
				%h3.panel-title
					= t('app.headers.personal')
			%div.panel-body
				= render 'personal', quote: @app.quote
	%div.col-md-6
		%div.panel.panel-default
			%div.panel-heading
				%h3.panel-title
					= t('app.headers.vehicle')
			%div.panel-body
				= render 'vehicle', quote: @app.quote
%div.row-fluid.recap
	%div.col-sm-12
		%div.panel.panel-default
			%div.panel-heading
				%h3.panel-title
					= t('quote.headers.coverage')
			%div.panel-body
				= render 'quote', quote: @app.quote
%hr
%div.row-fluid.recap
	%div.col-md-6
		%div.panel.panel-default
			%div.panel-heading
				%h3.panel-title
					= t('app.headers.disclosures')
			%div.panel-body
				%div.well.well-lg.disclosures
					= render 'disclosures', quote: @app.quote
	%div.col-md-6
		%div.panel.panel-default#payment
			%div.panel-heading
				%h3.panel-title
					= t('app.headers.payment')
			%div.panel-body
				= render 'payment', app: @app, quote: @app.quote, rates: @rates