%h1
	= t('app.headers.recap')
%div.row-fluid.recap
	%div.col-md-6
		%div.panel.panel-default
			%div.panel-heading
				%h3.panel-title
					= t('app.headers.personal')
			%div.panel-body
				= render 'personal', quote: @app.quote
	%div.col-md-6
		%div.panel.panel-default
			%div.panel-heading
				%h3.panel-title
					= t('app.headers.vehicle')
			%div.panel-body
				= render 'vehicle', quote: @app.quote
%div.row-fluid.recap
	%div.col-sm-12
		%div.panel.panel-default
			%div.panel-heading
				%h3.panel-title
					= t('app.headers.coverage')
			%div.panel-body
				= render 'quote', quote: @app.quote
%hr
%div.row-fluid.recap
	%div.col-md-12
		%div.panel.panel-default
			%div.panel-heading
				%h3.panel-title
					= t('app.headers.disclosures')
			%div.panel-body
				%div.well.well-lg.disclosures
					-# Need the tnc_link for disclosures.
					= render 'disclosures', quote: @app.quote, tnc_link: @rate.rate["tnc_pdf"]
				-# Modal is in the payment partial.
				%button.btn.btn-primary.btn-lg.col-xs-12{:type => "button",
					:data => {:toggle => "modal",
						:target => "#payment"}}
					= t('app.form.button.agree_and_pay')
				= render 'payment', quote: @app.quote, app: @app, rate: @rate



